.everything-wrapper {
    padding-top: 15px;
    display: flex;
    min-height: 100vh;
    width: 100vw;
    background-color: $wood-table;

    .main-page-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
        background-color: $wood-table;

        .navigation-bar-wrapper {
            display: flex;
            justify-content: space-between;
            height: 50px;
            width: 100%;
            border-bottom: 2px solid $aquamarine;
            margin-bottom: 10px;
            background-color: $wood-table;
        }

        .adventure-wrapper {
            display: flex;
            justify-content: space-around;
            min-height: 90%;
            width: 100%;

            .adventure-text-area-wrapper {
                padding: 15px 20px;
                border: 1.5px solid $aquamarine;
                width: 60%;
                margin-right: 20px;
                box-shadow: 7px 10px 26px -1px rgba(0,0,0,0.54);
                background: radial-gradient(circle, rgb(255,236,158) 18%, rgb(255,221,138) 37%,rgb(210,170,119) 72%, rgb(201,145,87) 95%, rgb(225,173,109) 100%);
            }

            .adventure-button-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 75%;
                min-width: 15%;
                background-color: $wood-table;
            }
        }
    }

    .choices-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;

        button {
            padding: 20px;
            min-height: 60px;
            background-color: $steel;
            color: $aquamarine;
            font-size: 1.5rem;
            box-shadow: 7px 10px 26px -1px rgba(0,0,0,0.54);
        }
    }
}  
    
 