$dark-blue: #292a51;
$light-sky-blue: #2faee8;
$teal: #1a9f94;
$blood: #7b0720;
$royal-purple: #572699;
$steel: #536474;
$gold: #e7b625;
$off-white: #f6f6f6;
$aquamarine: #24f9ee;
$poison: #87ea66;
$tanish: #f0d5b9;
$chocolate: #30120a;
$scroll: #a78c64;
$wood-table: #55342b;

// potential scroll colors #a78c64 #bc9069 